{% extends "base.html.twig" %}

{% block body %}
    <div class="container"
         <div class="jumbotron">
            <h1>Agendado!</h1>
            <p>Agendamento com sucesso!</p>
            <div>
                Detalhes do agendamento:
                {{ dump(info) }}
            </div>
        </div>    
    </div>    
{% endblock %}
